<div layout:fragment="footer" id="mainFooterContainer">
    <footer id="footer">
        <div id="footer-leftSideContainer">
            <img src="assets/media/imgs/Huella.png" alt="" id="logoNavBar">
            <h1>LoVet</h1>
        </div>
        <div class="infoFooter">
            <h2>Más Información</h2>
            <p><br>En LoVet nos preocupamos por la salud, bienestar y cuidado de tu amigo perruno,
                por ello contamos con profesionales capacitados para ofrecer una amplia variedad de servicios.</p>
        </div>
        <div class="infoFooter">
            <h2>¡Contáctanos!</h2>
            <p><br>Cel: 311209876 <br><br></p>
            <p>Tel: 5184635 <br><br></p>
            <p>Dirección: Cra122A #12-80<br><br></p>
        </div>
        <div id="footer-rightSideContainer">
            <div class="iconos">
                <a href=><i class="fa-brands fa-facebook-f"></i></a>
                <a href=><i class="fa-brands fa-twitter"></i></a>
                <a href=><i class="fa-brands fa-instagram"></i></a>
                <a href=><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </footer>
    <section id="copyright">
        <p>© 2024 LoVet. Todos los derechos reservados.</p>
    </section>
</div>