#mainMoment{
    overflow: scroll;  
    background-image: url(./../media/imgs/LandinPageMainImg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#landingPageContainer{
    margin-top: 20px;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#landingPageContainer div:first-child{
    margin: 50px;
    /* margin-top: -30px; */
}
#landingPageContainer div:first-child h2{
    padding-left: 25px;
    margin-bottom: 25px;
    font-size: 111px;
    color: #9f8474;
    font-family: 'Contrail One', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    text-shadow: 5px 5px 2px #6b594e;
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
    height: 145px;
}
#cursor {
    display: inline-block;
    width: 0;
    height: 1em;
    padding-left: 15px;
    border-right: .15em solid #9f8474;
    animation: cursor-blink 1s infinite;
}
@keyframes cursor-blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
}


#landingPageContainer div:first-child p{
    width: 50%;
    font-size: 30px;
    color: white;
    position: relative;
    z-index: 1;
    font-family: 'roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#btnTravelingContainer{
    display: flex;
    justify-content: right;
    margin-right: 50px;
}
.infoVeterinario p{
    font-size: 50px;
    font-family: 'roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: black;
}
.veterinario h3{
    font-size: 50px;
    font-family: 'Contrail One', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #9f8474;
}

#startTravel{
    padding: 25px;
    border-radius:5px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    background-color: #6b594e;
    color: wheat;
    border-width: 3px;
    border-top-color: #333;
    animation: titles-animation 5s linear infinite;
}

#startTravel:hover{
    color: #333;
    text-shadow: 2px 2px 2px wheat;
    background-color: #9f8474;
    transition: 2S background-color, 2s color, 1s text-shadow;
}
@keyframes titles-animation {
    0%, 50%, 100%{transform: rotate(0deg) translateX(0px);}
    25%{transform: rotate(-6deg) translateX(30px);}
    75%{transform: rotate(6deg) translateX(-30px);}
}

/*Estilos CSS para el formulario*/
#formContainer{
    min-height: 75vh;
}

#formUser{
    text-align: center;
    font-family: 'roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    font-size: 30px;
    margin: auto;
    margin-bottom: 1%;
    background-color: #ebe3dc;
    color: black;
    text-align: center;
    max-width: fit-content;
    border-radius: 25px;
    border: black 2px solid;
}

#formUser input{
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 250px;
}

#formUser button{
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: black;
    color: white;
}

.subtitulos{
    /*Que todos los subtítulos tengan un underlined azul claro*/
    text-align: center;
    font-family: 'Contrail One', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;}

.sectionServicios{
    width: 100%;
    justify-content: center;
    margin-bottom: 2%;
}
.sectionServicios img{
    height: 400px;
    margin: 20px;
    width: 80%;
}

.sectionServicios h2{
    font-family: 'Contrail One', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 60px;
    color: #9f8474;
}

#serviciosLandingContainer{
    background-color: white;
    box-shadow: -5px -10px 5px #6b594e;
    height: auto;
    display: flex;
    flex-direction: row;
}
.serviciosLandingRight{
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 40px;
}
.serviciosLandingLeft{
    width: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left: 30px;
    user-select: none;
    text-align: center;
}

.serviciosLandingLeft h2{
    font-family: 'Contrail One', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 120px;
    color: #9f8474;
    padding-left: 100px;
}
.sectionServicios p{
    font-family: 'roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 30px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.columna{
    /* background: rgb(red, green, blue) ; */
    background-color: #fff9f6;
    border: 1px solid black;
    border-radius: 50px;
    max-width: 30%;
    margin: 25px;
    padding: 10px;
    box-shadow: 10px 10px 10px gray;
}

.columna img{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}
.columna h2{
    margin-top: 10px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.columna > h2 > i{
    font-size: 30px;
    padding: 8px;
    border-radius: 50%;
    border: 3px solid #9f8474;
}
.columna > h2 > .ico1,
.columna > h2 > .ico2,
.columna > h2 > .ico3,
.columna > h2 > .ico4
{
    display: none;
}
.columna > h2 > i:hover{
    background-color: #9f8474;
    color: #fff;
    cursor: pointer;
}

.ico1, .ico2{
    margin-right: 15px;
}
.ico3, .ico4{
    margin-left: 15px;
}

#sectionMapa{
    width: 100%;
    background-color: #ebe3dc;
    box-shadow: -5px -10px 5px #6b594e;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sectionMapaLeft{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left: 30px;
    user-select: none;
}

.sectionMapaLeft img{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 200px;
    width: 900px;
    height: 700px;
}

.sectionMapaRight{
    width: 90%;
    align-items: center;
    margin: 0 auto;
    user-select: none;
    text-align: center;
}

.sectionMapaRight h2{
    font-family: 'Contrail One', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 60px;
    color: #9f8474;
}

.sectionMapaRight p{
    font-family: 'roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 30px;
    color: black;
}

.sectionMisionVision{
    background-color: #ebe3dc;
    box-shadow: -5px -10px 5px #6b594e;
    height: auto;
    justify-content: center;
    padding: 30px;
    border-bottom: #917a57 10px solid;
}

.sectionMisionVision img{
    margin-left: 300px;
    height: 700px;
    width: 1400px;
}


/* Servicios General Styles for landing and Servicios sections */
/* De momento .... */
.botonServicio{
    background: #9f8474;
    display: block;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    margin: 10px;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
    font-family: 'roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 33px;
    align-self: bottom;
}

.botonServicio:hover{
    background: rgb(126, 107, 46);
    transition: 0.3s;
}

.personalContainer {
    display: flex;
    justify-content: space-around;
}
