.sectionMascotas{
    width: 100%;
    justify-content: center;
    margin-bottom: 2%;
}
.sectionMascotas img{
    height: auto;
    margin: 20px;
    margin-top: 40px;
    width: 80%;
    border-radius: 50%;
}

#infoMascota{
    background-color: white;
    height: auto;
    display: flex;
    flex-direction: row;
}
.infoMascotaRight{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 40px;
}
.infoMascotaLeft{
    width: 50%;
    align-items: center;
    justify-content: left;
    padding-left: 30px;
    user-select: none;
    text-align: center;
}

.infoMascotaLeft h2{
    font-family: 'Contrail One', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: #9f8474 1px 0 10px;
    text-align: center;
    font-size: 100px;
    color: #9f8474;
    padding-left: 100px;
}

.infoMascotaLeft h1{
    font-family: 'roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 50px;
    color: black;
    padding-left: 100px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.titulos{
    font-family: 'Contrail One', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #9f8474;
    text-transform: bold;
    font-size: 80px;
    text-align: center;
}

.sectionTabla {
    /*Forma de que cada sección no esté al margen de la página*/
    padding: 1%;
}

.bodyMascotas table {
    /*Formato de diseño para todas las tablas de la página*/
    color: black;
    font-size: 20px;
    table-layout: fixed;
    border-collapse: collapse;
    background: #ebe3dc;
    margin: auto;
    font-family: 'roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    border: black 2px solid;
    width: 80%;
    margin-top: 30px;
    padding-bottom: 60px;
}


.bodyMascotas th{
    /*Header de la tabla*/
    padding: 20px 15px;
    font-size: 50px;
    text-transform: uppercase;
    background-color: #9f8474;
    font-family: 'Contrail One', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-transform: bold;
}

.bodyMascotas td{
    padding: min-content ;
    border-bottom: solid 1px rgba(255,255,255,0.2);

}
.bodyMascotas td img{
    border-radius: 50%;
}
.bodyMascotas tbody{
    text-align: center;
    padding-bottom: 10px;
}
.bodyMascotas tbody tr:nth-child(2n){
    /*Las filas pares de la tabla*/
    background-color: white;
}

.bodyMascotas table a{
    text-decoration: none;
    color: black;
    transition: 0.5s font-size, 1s color;
    border-radius: 5px;
    background-color: white;
    padding: 4px 8px 4px 8px;
    border: black 1px solid;
}

.bodyMascotas table a:hover{
    color: white;
    font-size: 35px;/*38*/
    transition: 0.3s font-size, 0.3s color;
    background-color: #9f8474;
    border: black;
}

.bodyClientes table {
    /*Formato de diseño para todas las tablas de la página*/
    color: black;
    font-size: 20px;
    table-layout: fixed;
    border-collapse: collapse;
    background: #ebe3dc;
    margin: auto;
    font-family: 'roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    border: black 2px solid;
    width: 80%;
    margin-top: 30px;
    padding-bottom: 60px;
}


.bodyClientes th{
    /*Header de la tabla*/
    padding: 20px 15px;
    font-size: 40px;
    text-transform: uppercase;
    background-color: #9f8474;
    font-family: 'Contrail One', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-transform: bold;
}

.bodyClientes td{
    padding: 10px ;
    border-bottom: solid 1px rgba(255,255,255,0.2);

}

.bodyClientes tbody{
    text-align: center;
    padding-bottom: 10px;
}
.bodyClientes tbody tr:nth-child(2n){
    /*Las filas pares de la tabla*/
    background-color: white;
}

.bodyClientes table a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    transition: 0.5s font-size, 1s color;
    border-radius: 5px;
    background-color: white;
    padding: 4px 8px 4px 8px;
    border: black 1px solid;
}

.bodyClientes table a:hover{
    color: white;
    font-size: 35px;/*38*/
    transition: 0.3s font-size, 0.3s color;
    background-color: #9f8474;
    border: black;
}