*{
    margin: 0;
}

body {
    height: 400px;
    scroll-behavior: smooth;   
    overflow: scroll;
    overflow-x: hidden !important;
}
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background: #f3eeeb; /* Color del fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background: #9f8474; /* Color del "pulgador" (la parte que se arrastra) */
}

.generalContent{
    /* min-height:  calc(100vh - var(--div-height)); */
    min-height: 50vh; /* REVISAR LUEGO*/
    margin-top: 150px;
    margin-bottom: 40px;
}


/* .relleno{ YA NO ES NECESARIO
    height: 50px;
}
.rellenoInicial{ YA NO
    height: 125px;
} */
/* PARA REVISAR */
.flex{
    display: flex;
    flex-wrap: wrap;
}
.titulos{
    font-family: 'Contrail One', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #9f8474;
    text-transform: bold;
    font-size: 80px;
    text-align: center;
}
.sectionTabla {
    /*Forma de que cada sección no esté al margen de la página*/
    padding: 1%;
}