<app-nav-bar></app-nav-bar>
<div layout:fragment="content" class="generalContent">


    <div id="headerXSection">
        <h1 class="sectionTitles" data-text="Mis Mascotas"></h1>
        <h4>
            ¡Bienvenid@ {{ cliente.nombres }} {{ cliente.apellidos }} ! <br> Estas son las mascotas que tienes
            registradas:
        </h4>
    </div>

    <div style="display: flex;">
        <div  style="width: 50%;">
            <br>
            <h2 style="padding-left: 20px;">Esta es tu Informacion Registrada en nuestro sistema:</h2>
            <br>
            <ul>
                <li>Nombre: {{ cliente.nombres }} {{ cliente.apellidos }}</li>
                <li>Usuario: {{ cliente.userName }}</li>
                <li>Correo: {{ cliente.correoElectronico }}</li>
                <li>Telef.: {{ cliente.telefono }}</li>
                <li>Telef. Aux.: {{ cliente.telefonoAux }}</li>
            </ul>
        </div>
    
        
    
        <h3 style="padding-left: 100px;">Mascotas:</h3>
        <div  class="cardsPets">
            <div *ngFor="let mascota of cliente.mascotasIds" class="cardPet">
                <img [src]="mascota.imagen" width="100px" alt="Imagen de la mascota">
                <h3>{{ mascota.nombre }}</h3>
                <p><span>Raza: </span><span>{{ mascota.raza }}</span></p>
                <p><span>Edad: </span><span>{{ mascota.edad }}</span></p>
                <div id="interactionPetButtons" class="interactionPetButtons">
                    <i class="fa-solid fa-pen-to-square"></i>   
                    <a [routerLink]="['/mascota', mascota.id]">Más Información</a>
                    <i class="fa-solid fa-trash"></i>
                </div>
            </div>
        </div>
    </div>

</div>


<app-footer></app-footer>