.bodyClientes table {
    /*Formato de diseño para todas las tablas de la página*/
    color: black;
    font-size: 20px;
    table-layout: fixed;
    border-collapse: collapse;
    background: #ebe3dc;
    margin: auto;
    font-family: 'roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    border: black 2px solid;
    width: 80%;
    margin-top: 30px;
    padding-bottom: 60px;
}


.bodyClientes th{
    /*Header de la tabla*/
    padding: 20px 15px;
    font-size: 40px;
    text-transform: uppercase;
    background-color: #9f8474;
    font-family: 'Contrail One', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-transform: bold;
}

.bodyClientes td{
    padding: 10px ;
    border-bottom: solid 1px rgba(255,255,255,0.2);

}

.bodyClientes tbody{
    text-align: center;
    padding-bottom: 10px;
}
.bodyClientes tbody tr:nth-child(2n){
    /*Las filas pares de la tabla*/
    background-color: white;
}

.bodyClientes table a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    transition: 0.5s font-size, 1s color;
    border-radius: 5px;
    background-color: white;
    padding: 4px 8px 4px 8px;
    border: black 1px solid;
}

.bodyClientes table a:hover{
    color: white;
    font-size: 35px;/*38*/
    transition: 0.3s font-size, 0.3s color;
    background-color: #9f8474;
    border: black;
}