<app-nav-bar-vets></app-nav-bar-vets>
<div class = "bodyClientes">
    <div layout:fragment="content" class="generalContent">

        <h1 class ="sectionTitles" data-text="NUESTROS CLIENTES">NUESTROS CLIENTES</h1>
        
        <table class="sectionTabla">
            <thead >
                <tr>
                    <th>UserName</th>
                    <th>Nombre Completo </th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientesList">
                    <td>{{ cliente.userName }}</td>
                    <td>{{ cliente.nombres }}  {{ cliente.apellidos }}</td>
                    <td style="overflow-x: auto;">{{ cliente.correoElectronico }}</td> 
                    <td>{{ cliente.telefono }}</td>
                    <td>
                        <a [routerLink]="['/clientes', cliente.id]" title="Ver mas info"><i class="fa-solid fa-circle-info"></i></a>
                        
                    </td>
                    
                </tr>
            </tbody>
        </table>
        
        
    </div>
</div>
<app-footer></app-footer>
