<app-nav-bar></app-nav-bar>
<div class="generalContent">

    <section class="rellenoInicial"></section>

    <section class="sectionServicios">
        <h2 class="sectionTitles" data-text="SERVICIOS">SERVICIOS</h2>
    </section>
    <!-- tratamientoS - PRIMERA SUBSECCION -->

    <section class="sectionServicios flex">
        <div class="columna">
            <h2>Cirugía</h2>
            <img src="./../../../../assets/media/imgs/cirugia.jpg" alt="Cirugía">
            <hr>
            <p>Desde procedimientos de rutina como la esterilización hasta intervenciones complejas como la
                extirpación de tumores, se enfoca en la seguridad del paciente y un cuidado postoperatorio adecuado
                para una recuperación exitosa.</p>
            <hr>
            <a href="#" class="botonServicio">Ver más</a>
        </div>
        <div class="columna">
            <h2>Vacunación felinos</h2>
            <img  src="./../../../../assets/media/imgs/Vacunación felinos.jpg" alt="Vacunación felinos">
            <hr>
            <p>Administración de vacunas para prevenir enfermedades comunes y graves en gatos, garantizando su
                protección continua.</p>
            <hr>
            <a href="#" class="botonServicio">Ver más</a>
        </div>
        <div class="columna">
            <h2>Vacunación caninos</h2>
            <img  src="./../../../../assets/media/imgs/Vacunación caninos.jpg" alt="Vacunación caninos">
            <hr>
            <p>Administración de vacunas para prevenir enfermedades comunes y graves en perros, garantizando su
                protección continua.</p>
            <hr>
            <a href="#" class="botonServicio">Ver más</a>
        </div>
        <div class="columna">
            <h2>Consulta</h2>
            <img src="./../../../../assets/media/imgs/consulta.jpg" alt="Consulta">
            <hr>
            <p>Los veterinarios realizan un examen exhaustivo para evaluar la salud de la mascota y ofrecen
                recomendaciones de tratamiento.</p>
            <hr>
            <a href="#" class="botonServicio">Ver más</a>
        </div>
    </section>

    <section class="sectionServicios flex">
        <div class="columna">
            <h2>Analgésicos para mascotas</h2>
        </div>
    </section>

    <section class="sectionServicios flex">
        <div class="columna">
            <h2>Carprofeno (Rimadyl)</h2>
            <img src="./../../../../assets/media/imgs/rimadyl.jpg"alt="Rimadyl">
            <hr>
            <p>Se utiliza comúnmente para aliviar el dolor y la inflamación en perros. Precio aproximado:
                dependiendo de la dosis.</p>
            <hr>
            <a href="#" class="botonServicio">Ver más</a>
        </div>
        <div class="columna">
            <h2>Meloxicam (Metacam)</h2>
            <img src="./../../../../assets/media/imgs/Metacam.jpg" alt="Metacam">
            <hr>
            <p>Un antiinflamatorio no esteroideo (AINE) que se usa para tratar el dolor y la inflamación en perros y
                gatos. Precio aproximado:dependiendo de la dosis.</p>
            <hr>
            <a href="#" class="botonServicio">Ver más</a>
        </div>
        <div class="columna">
            <h2>Tramadol</h2>
            <img src="./../../../../assets/media/imgs/Tramadol.jpg"alt="Tramadol">
            <hr>
            <p>Un analgésico opioide débil que se utiliza para el tratamiento del dolor moderado a severo en perros
                y gatos. Precio aproximado: dependiendo de la dosis.</p>
            <hr>
            <a href="#" class="botonServicio">Ver más</a>
        </div>
        <div class="columna">
            <h2>Gabapentina</h2>
            <img src="./../../../../assets/media/imgs/Gabapentina.jpg"alt="Gabapentina">
            <hr>
            <p>Un medicamento anticonvulsivo que también se utiliza para el manejo del dolor neuropático en perros y
                gatos. Precio aproximado: dependiendo de la dosis.</p>
            <hr>
            <a href="#" class="botonServicio">Ver más</a>
        </div>
    </section>

    <section class="sectionServicios flex">
        <div class="columna">
            <h2>Baño para perros</h2>
        </div>
    </section>

    <section class="sectionServicios flex">
        <div class="columna">
            <h2>Perros pequeños</h2>
            <img src="./../../../../assets/media/imgs/perro pequeño.jpg" alt="Perros pequeños">
            <hr>
            <p>Enjuagar y secar un perro pequeño, que generalmente pesa entre 1 y 10 kilogramos toma unos 15-20
                minutos. Los costos del uso de shampoo y acondicionador junto con el uso de toallas y secador de
                pelo, pueden rondar entre 40.000 y 80.000 por baño.</p>
            <hr>
            <a href="#" class="botonServicio">Ver más</a>
        </div>
        <div class="columna">
            <h2>Perros medianos</h2>
            <img  src="./../../../../assets/media/imgs/perro mediano.jpg"alt="Perros medianos">
            <hr>
            <p>Limpiar y secar un perro mediano, que generalmente pesa entre 10 y 25 kilogramos, toma unos 20-30
                minutos. Los costos de shampoo, acondicionador, toallas y secador de pelo pueden oscilar entre
                60.000 y 120.000 por baño, dependiendo de la calidad de los productos utilizados y el peso.</p>
            <hr>
            <a href="#" class="botonServicio">Ver más</a>
        </div>
        <div class="columna">
            <h2>Perros grandes</h2>
            <img src="./../../../../assets/media/imgs/perro grande.jpg" alt="Perros grandes">
            <hr>
            <p>Bañar y secar un perro grande, que generalmente pesa entre 25 y 45 kilogramos toma unos 30-45
                minutos. Puede costar entre 80.000 y 150.000 por el uso de shampoo, acondicionador, toallas y
                secador de pelo y tambien dependiendo de la marca y la calidad de los productos utilizados.</p>
            <hr>
            <a href="#" class="botonServicio">Ver más</a>
        </div>
        <div class="columna">
            <h2>Perros gigantes</h2>
            <img  src="./../../../../assets/media/imgs/perro gigante.jpg" alt="Perros gigantes">
            <hr>
            <p>Bañar y secar un perro gigante, que generalmente pesa más de 45 kilogramos toma aproximadamente entre
                45 minutos a 1 hora o mas. Los costos de shampoo, acondicionador, toallas y secador de pelo pueden
                variar entre 115.000 y 200.000 considerando la cantidad adicional de productos necesarios y el
                tiempo de secado prolongado.</p>
            <hr>
            <a href="#" class="botonServicio">Ver más</a>
        </div>
    </section>


    <section class="sectionRelleno">
    </section>

</div>

<app-footer></app-footer>
