<app-nav-bar></app-nav-bar>
<div layout:fragment="content" class="generalContent">

    <h2 class="sectionTitles" data-text="PERSONAL">PERSONAL</h2>
    

    <div class="personalContainer">
        <div class="veterinario">
            <img  src="./../../../../assets/media/imgs/Victor.jpg"alt="Victor">
            <div class="infoVeterinario">
                <h3>Victor</h3>
                <p>Especialidad: Cirugía de Pequeños Animales</p>
                <p>Personalidad: Amable y dedicado</p>
                <p>Universidad: Universidad de La Salle</p>
                <p>Experiencia: Más de 15 años en cirugía de pequeños animales</p>
                <p>Edad: 40 años</p>
            </div>
        </div>
        <div class="veterinario">
            <img src="./../../../../assets/media/imgs/Veronica.jpg" alt="Veronica">
            <div class="infoVeterinario">
                <h3>Veronica</h3>
                <p>Especialidad: Dermatología Veterinaria</p>
                <p>Personalidad: Apasionada y compasiva</p>
                <p>Universidad: Universidad Nacional de Colombia</p>
                <p>Experiencia: Más de 10 años en dermatología de animales</p>
                <p>Edad: 35 años</p>
            </div>
        </div>
        <div class="veterinario">
            <img  src="./../../../../assets/media/imgs/Roberta.jpg" alt="Roberta">
            <div class="infoVeterinario">
                <h3>Roberta</h3>
                <p>Especialidad: Medicina Interna de Pequeños Animales</p>
                <p>Personalidad: Detallista y comprometida</p>
                <p>Universidad: Universidad de Antioquia</p>
                <p>Experiencia: Más de 12 años en medicina interna de pequeños animales</p>
                <p>Edad: 38 años</p>
            </div>
        </div>
    </div>
    <div class="personalContainer">
        <div class="veterinario">
            <img  src="./../../../../assets/media/imgs/Monica.jpg" alt="Monica">
            <div class="infoVeterinario">
                <h3>Monica</h3>
                <p>Especialidad: Odontología Veterinaria</p>
                <p>Personalidad: Creativa y enérgica</p>
                <p>Universidad: Universidad de Caldas</p>
                <p>Experiencia: Más de 8 años en odontología de animales</p>
                <p>Edad: 32 años</p>
            </div>
        </div>
        <div class="veterinario">
            <img  src="./../../../../assets/media/imgs/Manuela.jpg" alt="Manuela">
            <div class="infoVeterinario">
                <h3>Manuela</h3>
                <p>Especialidad: Ortopedia Veterinaria</p>
                <p>Personalidad: Organizada y meticulosa</p>
                <p>Universidad: Universidad de La Salle</p>
                <p>Experiencia: Más de 10 años en ortopedia de animales</p>
                <p>Edad: 36 años</p>
            </div>
        </div>
        <div class="veterinario">
            <img  src="./../../../../assets/media/imgs/Milana.jpg"  alt="Milana">
            <div class="infoVeterinario">
                <h3>Milana</h3>
                <p>Especialidad: Oncología Veterinaria</p>
                <p>Personalidad: Empática y comprensiva</p>
                <p>Universidad: Universidad de La Salle</p>
                <p>Experiencia: Más de 10 años en oncología de animales</p>
                <p>Edad: 37 años</p>
            </div>
        </div>
    </div>

    <section class="sectionRelleno">
    </section>
</div>

<app-footer></app-footer>

