<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="generalLayouts/clientLayout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencias</title>
</head>

<body class="bodyLogin">
    <div layout:fragment="content" class="generalContent">

        <h2 class="sectionTitles"  data-text="REGISTRAR NUEVO CLIENTE"></h2>
        <div class="container">

            <div class="form-content">
                <h1 id="title">Registro</h1>
    
                <form id="miFormulariojejeje" th:object="${cliente}" th:onsubmit="return validatedForm()" th:action="@{/clientes/add}" method="post">
                    <div class="input-group">
    
                        <div class="input-field" id="nameInput">
                            <i class="fa-solid fa-user"></i>
                            <label for="userName"></label>
                            <input th:field="*{userName}" type="text" placeholder="Usuario" required="true">
                        </div>
    
                        <div class="input-field">
                            <i class="fa-solid fa-envelope"></i>
                            <label for="correoElectronico"></label>
                            <input  th:field="*{correoElectronico}" type="email" placeholder="Correo" required="true">
                        </div>
    
                        <div class="input-field">
                            <i class="fa-solid fa-lock"></i>
                            <label for="password"></label>
                            <input th:field="*{password}"type="password" placeholder="Contraseña" required="true">
                        </div>
                    </div>
                    <button type="submit" class="enviar">LogUp</button>
    
                    
                </form>
            </div>
        </div>
    
    
        
    
        <script src="script.js"></script>

</body>

</html>