<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="generalLayouts/clientLayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>

<body id="mainMoment">
    <!-- <div th:insert="~{generalViews/navbar :: navbar}"></div> -->
    
    <div layout:fragment="content" class="generalContent">
        <section class="relleno"></section>
        <section id="landingPageContainer">
            <div>
                <h2 id="subMainTitle">AGENDA TU CITA CON NOSOTROS</h2>
                <p>
                    ¡Cuide el bienestar de su mascota y asegure su salud! En nuestra clínica veterinaria ofrecemos
                    atención
                    especializada y amorosa para todo tipo de animales. Reserve una cita hoy mismo y dé el primer paso
                    hacia
                    una vida más saludable y feliz para su compañero peludo. ¡Estamos aquí para brindarle el mejor
                    cuidado
                    posible!
                    <br>
                    ¿Estas listo para empezar esta aventura con nosotros y tu mascota?
                </p>
            </div>
            
            
        </section>

        <section id="serviciosLandingContainer">
            <div class="serviciosLandingLeft">
                <h2>SERVICIOS</h2>
            </div>
            <div class="serviciosLandingRight sectionServicios flex">
                <div class="columna">
                    <h2>
                        <i class="fa-regular fa-eye ico1"></i>
                        <i class="fa-regular fa-eye-slash ico2"></i>
                        SERVICIOS OFRECIDOS
                        <i class="fa-solid fa-plus ico3"></i>
                        <i class="fa-solid fa-minus ico4"></i>
                    </h2>
                    <hr>
                    <img th:src="@{/media/imgs/loVetServicioVeter.jpg}" alt="">
                    <hr>
                    <p>Con nosotros ayudarás a tu amigo peludo a que esté sano y listos para jugar!</p>
                    <hr>
                    <a href="./PaginaServicios.html" class="botonServicio">Ver ahora</a>
                </div>
                <div class="columna">
                    <h2>
                        <i class="fa-regular fa-eye ico1"></i>
                        <i class="fa-regular fa-eye-slash ico2"></i>
                        PRODUCTOS
                        <i class="fa-solid fa-plus ico3"></i>
                        <i class="fa-solid fa-minus ico4"></i>
                    </h2>
                    <hr>
                    <img th:src="@{/media/imgs/loVetServicioProd.jpg}" alt="">
                    <hr>
                    <p>Encuentra medicamentos, juguetes y accesorios para tu perrito!</p>
                    <hr>
                    <a href="#" class="botonServicio">Ver ahora</a>
                </div>
                <div class="columna">
                    <h2>
                        <i class="fa-regular fa-eye ico1"></i>
                        <i class="fa-regular fa-eye-slash ico2"></i>
                        EXPERIENCIAS
                        <i class="fa-solid fa-plus ico3"></i>
                        <i class="fa-solid fa-minus ico4"></i>
                    </h2>
                    <hr>
                    <img th:src="@{/media/imgs/loVetServicioExp1.jpg}" alt="">
                    <hr>
                    <p>"Descríbenos tu experiencia en nuestras instalaciones y pregunta por planes!"</p>
                    <hr>
                    <a href="./PaginaExperiencias.html" class="botonServicio">Ver ahora</a>
                </div>
                <div class="columna">
                    <h2>
                        <i class="fa-regular fa-eye ico1"></i>
                        <i class="fa-regular fa-eye-slash ico2"></i>
                        BAÑOS Y LIMPIEZA
                        <i class="fa-solid fa-plus ico3"></i>
                        <i class="fa-solid fa-minus ico4"></i>
                    </h2>
                    <hr>
                    <img th:src="@{/media/imgs/loVetServicioBaño.jpg}" alt="">
                    <hr>
                    <p>Deja a tu fiel amigo como recién salido de un spa, limpio y oliendo genial!</p>
                    <hr>
                    <a href="#" class="botonServicio">Ver ahora</a>
                </div>
            </div>
        </section>

        <section id="sectionMapa">
            <div class="sectionMapaLeft">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.3740787895154!2d-74.0662248240168!3d4.704909241618988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9acd6b281bb7%3A0x73bf697277c057b9!2sCl.%20122a%2C%20Suba%2C%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1709656215190!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <!-- <img th:src="@{/media/imgs/loVetMapa.png}" alt=""> -->
            </div>
            <div class="sectionMapaRight">
                <h2>¿Donde nos encuentras?</br></br></h2>
                <p>Cra. 122A #12-80</p>
            </div>
        </section>
        <section class="sectionMisionVision">

            <img th:src="@{/media/imgs/loVetMisionVision.png}" alt="">
        </section>
    </div>
    
    <!-- <div th:insert="~{generalViews/footer :: footer}"></div>   -->
</body>
</html>