<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="generalLayouts/clientLayout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencias</title>
    
</head>
<body class="bodyLogin">
    <div layout:fragment="content" class="generalContent">

        <section class="rellenoInicial"></section>

        <div class="container">

            <div class="form-content">
                <h1 id="title">Login</h1>
    
                <form th:object="${cliente}" th:action="@{/clientes/login}" method="post">
                    <div class="input-group">
    
                        <p style="font-size: 25px; color: #6b594e; font-family: cursive;">Ingresa tu Cedula:</p>
                        <div class="input-field" id="nameInput">
                            <i class="fa-solid fa-user"></i>
                            <label for="cedula"></label>
                            <input th:field="*{cedula}" type="number" placeholder="Cedula" id="userNameLogin" required="true">
                        </div>

                    </div>
                    <button id="logInButton" type="submit" class="enviar">LogIn</button>
    
                    
                </form>
            </div>
        </div>
        <div th:if="${error}" id="msgIncorrectLogin">
            <p th:text="${error}" id="msgIncorrectLogin-p"></p>
        </div>
    </div>

</body>

</html>
