<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="generalLayouts/clientLayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/styles/mascotasEstilos.css}">
    <link rel="stylesheet" th:href="@{/styles/mascotasViews/individualPet.css}">
    </head>
<body>
    <div layout:fragment="content" class="generalContent">
        
        <section id="infoMascota">
            <div class="infoMascotaLeft">
                <h2 th:inline="text" > Conoce a 
                    [[${mascota.nombre}]]!
                </br></h2>
                
                <h1 th:inline="text">¡Hola, soy [[${mascota.nombre}]]!
                    Soy un perro de la raza [[${mascota.raza}]], tengo [[${mascota.edad}]] añitos, he estado inscrito en LoVet por [[${mascota.permanencia}]] años, mido [[${mascota.altura}]] cm y estoy pesando [[${mascota.peso}]]kg.
                    Tengo antecedentes en [[${mascota.antecedentes}]].</br></h1>
                
                <br><br><br><br>
                
                <div class="historialClinico">
                    <h2>Historial Clinico</h2>
                </div>
            </div>
            <div class="infoMascotaRight sectionMascotas flex">
                <img th:src="${mascota.imagen}" width="100px"/>
            </div>
        </section>
    </div>
</body>
</html>