<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="generalLayouts/clientLayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/styles/clientes.css}">
</head>
<body class="bodyClientes">
    <div layout:fragment="content" class="generalContent">

        <h1 class="sectionTitles" data-text="NUESTROS CLIENTES"></h1>
        
        <table class="sectionTabla">
            <thead >
                <tr>
                    <th>Nombre</th>
                    <th>user Name</th>
                    <th>Apellidos</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Ver más</th>
                    <th>Mascotas</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="persona : ${clientes}">
                    <td th:text="${persona.nombres}"></td>
                    <td th:text="${persona.userName}"></td>
                    <td th:text="${persona.apellidos}"></td>
                    <td th:text="${persona.telefono}"></td>
                    <td th:text="${persona.correoElectronico}" style="overflow-x: auto;"></td>
                    <td ><a th:href="@{/clientes/find/{id}(id=${persona.id})}">Ver Info</a></td>
                    <td>
                        <a  th:href="@{/clientes/mascotas/{id}(id=${persona.id})}">Mascotas</a> 
                    </td>
                    <td>
                        <a  th:href="@{/clientes/delete/{id}(id=${persona.id})}">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
         
    </div>
</body>
</html>