<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="generalLayouts/clientLayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/styles/clientes.css}">

    </head>
<body>
    <div layout:fragment="content">
        <section class="relleno"></section>
        <section class="relleno"></section>
        <section id="infoMascota">
            <div class="infoMascotaLeft">
                <h2 th:inline="text" > Cliente 
                    [[${cliente.nombres}]]!
                </br></h2>
                <h1 th:inline="text" style="text-align: left;"> Nombre: [[${cliente.nombres}]] [[${cliente.apellidos}]] </br>
                    User Name: [[${cliente.userName}]] </br>
                    Correo: [[${cliente.correoElectronico}]] </br>
                    Telefono: [[${cliente.telefono}]] </br>
                    Telefono Auxiliar: [[${cliente.telefonoAux}]] </br>
                </br></h1>
            </div>
        </section>
    </div>
</body>
</html>