<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="generalLayouts/clientLayout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/styles/mascotasEstilos.css}">
</head>
<body class="bodyMascotas">

    <div layout:fragment="content">
        <section class="relleno"></section>
        <section class="relleno"></section>
        <h1 th:text="'MASCOTAS DEL CLIENTE: ' + ${id}" style="font-family: 'Contrail One', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 60px;;"></h1>

        <table class="sectionTabla">
            <thead >
                <tr>
                    <th>Nombre</th>
                    <th>Raza</th>
                    <th>Edad</th>
                    <th>Imagen</th>
                    <th>Ver más</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="perro : ${mascotas}">
                    <td th:text="${perro.nombre}"></td>
                    <td th:text="${perro.raza}"></td>
                    <td th:text="${perro.edad}"></td>
                    <td > <img th:src="${perro.imagen}" width="100px"/></td> 
                    <td ><a th:href="@{/mascotas/find/{id}(id=${perro.id})}">Ver Info</a></td>
                    <td>
                        <a  th:href="@{/mascotas/update/{id}(id=${perro.id})}">Editar</a> 
                    </td>
                    <td>
                        <a  th:href="@{/mascotas/delete/{id}(id=${perro.id})}">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>