<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/styles/mascotasEstilos.css}">
    <link rel="stylesheet" th:href="@{/styles/landingPage.css}"><link rel="stylesheet" th:href="@{/styles/landingPage.css}">
    <link rel="shortcut icon" th:href="@{/media/icos/HuellaBlanca-editedGimp.ico}" type="image/x-icon">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Contrail+One&family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
</head>
<body class="bodyClientes">
    <nav id="navBarContainer">
        <div id="navBar-leftSideContainer">
            <img th:src="@{/media/imgs/Huella.png}" alt="" id="logoNavBar">
            <h1>LoVet</h1>
        </div>
        <div id="navBar-rightSideContainer">
            <ol id="navLinks">
                <li><a th:href="@{/loVet/Inicio}">Inicio</a></li>
                <li><a th:href="@{/loVet/Servicios}">Servicios</a></li>
                <li><a th:href="@{/loVet/Personal}">Personal</a></li>
                <li><a th:href="@{/loVet/Experiencias}">Experiencias</a></li>
            </ol>
        </div>
    </nav>
    <section class="relleno"></section>
    <section class="relleno"></section>
    <section class="relleno"></section>

    <h1 class ="titulos">NUESTROS CLIENTES</h1>
    
    <table class="sectionTabla">
        <thead >
            <tr>
                <th>Nombre</th>
                <th>user Name</th>
                <th>Apellidos</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Ver más</th>
                <th>Mascotas</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="persona : ${clientes}">
                <td th:text="${persona.nombres}"></td>
                <td th:text="${persona.userName}"></td>
                <td th:text="${persona.apellidos}"></td>
                <td th:text="${persona.telefono}"></td>
                <td th:text="${persona.correoElectronico}"></td>
                <td ><a th:href="@{/clientes/find/{id}(id=${persona.id})}">Ver Info</a></td>
                <td>
                    <a  th:href="@{/clientes/mascotas/{id}(id=${persona.id})}">Mascotas</a> 
                </td>
                <td>
                    <a  th:href="@{/clientes/delete/{id}(id=${persona.id})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    
    <section class="relleno"></section>

</body>
</html>