<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="generalLayouts/clientLayout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencias</title>
</head>

<body>
    <div layout:fragment="content" class="generalContent">

        <section class="rellenoInicial"></section>

        <section id="formContainer">

            <h2 class="subtitulos" style="margin-bottom: 15px;">Registrate y cuéntanos tu experiencia!</h2>
            <!-- Formulario Usuarios -->
            <form method="post" id="formUser">
                <label for="txtUser">Usuario</label>
                <input type="text" name="user" id="txtUser" required><br>
        
                <label for="txtName">Nombre</label>
                <input type="text" name="name" id="txtNombre" required><br>
        
                <label for="txtMascota">Mascota</label>
                <input type="anchor" name="imagen" id="txtImg" minlength="4" required><br>
        
                <label for="txtExp">Experiencias</label>
                <input type="text" name="mascota" id="txtMascota" minlength="4" required><br>
        
                <br>
                <button type="submit" class="btn">Enviar formulario</button>

            </form>


        </section>
    </div>

</body>

</html>