<app-nav-bar></app-nav-bar>

<form class="generalContent" [formGroup]="editClienteForm" (ngSubmit)="guardarCliente()">
    <input formControlName="userName" placeholder="userName" required="true" />
    <input formControlName="password" placeholder="password" required="true" />
    <input formControlName="correoElectronico" placeholder="Correo" required="true" />
    <input formControlName="nombres" placeholder="nombres" required="true" />
    <input formControlName="apellidos" placeholder="Apellidos" required="true" />
    <input formControlName="telefono" placeholder="Telefono" required="true" />
    <br>
    <button type="submit">Guardar Cambios</button>
</form>

<app-footer></app-footer>