.bodyLogin{
    font-family: 'roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bodyLogin .container{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bodyLogin .form-content{
    width: 100%;
    max-width: 450px;
    padding: 50px 60px 70px;
    background-color: #ebe3dc ;
    text-align: center;
    border-radius: 25px;
}

.bodyLogin .form-content h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #9f8474;
    position: relative;
    font-family: 'Contrail One', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.bodyLogin .input-field {
    background-color: white;
    margin: 15px 0px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: max-height 0.5s;
    overflow: hidden;
    font-family: 'roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bodyLogin input{
    width: 100%;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    color: black;
}

.bodyLogin input::placeholder{
    color: #9f8474;
    font-family: 'roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bodyLogin .input-field i{
    margin-left: 15px;
    color: #9f8474;
}


.bodyLogin form p{
    text-align: left;
    font-size: 13px;
    color: white;
}

.bodyLogin form p a{
    color: #9f8474;
    margin-left: 5px;
}

.bodyLogin .btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.bodyLogin button{
    flex-basis: 48%;
    font-size: 16px;
    background: #9f8474;
    color: white;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    font-family: 'Contrail One', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bodyLogin .enviar{
    flex-basis: 48%;
    font-size: 16px;
    background: #9f8474;
    color: white;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    font-family: 'Contrail One', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 15px;
}

.bodyLogin .input-group{
height: 250px;
}
