<app-nav-bar></app-nav-bar>
<div id="mainMoment">
    <section id="landingPageContainer">
        <div>
            <!-- <h2 id="subMainTitle">{{ 'AGENDA TU CITA CON NOSOTROS!' | async }}</h2> -->
            <br><br><br><br>
            <h2 id="subMainTitle">AGENDA TU CITA CON NOSOTROS!</h2>
            <p>
                ¡Cuide el bienestar de su mascota y asegure su salud! En nuestra clínica veterinaria ofrecemos
                atención
                especializada y amorosa para todo tipo de animales. Reserve una cita hoy mismo y dé el primer paso
                hacia
                una vida más saludable y feliz para su compañero peludo. ¡Estamos aquí para brindarle el mejor
                cuidado
                posible!
                <br>
                ¿Estás listo para empezar esta aventura con nosotros y tu mascota?
            </p>
        </div>
    </section>

    <section id="serviciosLandingContainer">
        <div class="serviciosLandingLeft">
            <h2>SERVICIOS</h2>
        </div>
        <div class="serviciosLandingRight sectionServicios flex">
            <div class="columna">
                <h2>
                    <i class="fa-regular fa-eye ico1"></i>
                    <i class="fa-regular fa-eye-slash ico2"></i>
                    SERVICIOS OFRECIDOS
                    <i class="fa-solid fa-plus ico3"></i>
                    <i class="fa-solid fa-minus ico4"></i>
                </h2>
                <hr>
                <img src="assets/media/imgs/loVetServicioVeter.jpg" alt="">
                <hr>
                <p>Con nosotros ayudarás a tu amigo peludo a que esté sano y listos para jugar!</p>
                <hr>
                <a href="./PaginaServicios.html" class="botonServicio">Ver ahora</a>
            </div>
            <div class="columna">
                <h2>
                    <i class="fa-regular fa-eye ico1"></i>
                    <i class="fa-regular fa-eye-slash ico2"></i>
                    PRODUCTOS
                    <i class="fa-solid fa-plus ico3"></i>
                    <i class="fa-solid fa-minus ico4"></i>
                </h2>
                <hr>
                <img src="assets/media/imgs/loVetServicioProd.jpg" alt="">
                <hr>
                <p>Encuentra medicamentos, juguetes y accesorios para tu perrito!</p>
                <hr>
                <a href="#" class="botonServicio">Ver ahora</a>
            </div>
            <div class="columna">
                <h2>
                    <i class="fa-regular fa-eye ico1"></i>
                    <i class="fa-regular fa-eye-slash ico2"></i>
                    EXPERIENCIAS
                    <i class="fa-solid fa-plus ico3"></i>
                    <i class="fa-solid fa-minus ico4"></i>
                </h2>
                <hr>
                <img src="assets/media/imgs/loVetServicioExp1.jpg" alt="">
                <hr>
                <p>"Descríbenos tu experiencia en nuestras instalaciones y pregunta por planes!"</p>
                <hr>
                <a href="./PaginaExperiencias.html" class="botonServicio">Ver ahora</a>
            </div>
            <div class="columna">
                <h2>
                    <i class="fa-regular fa-eye ico1"></i>
                    <i class="fa-regular fa-eye-slash ico2"></i>
                    BAÑOS Y LIMPIEZA
                    <i class="fa-solid fa-plus ico3"></i>
                    <i class="fa-solid fa-minus ico4"></i>
                </h2>
                <hr>
                <img src="./../../../../assets/media/imgs/loVetServicioBaño.jpg" alt="">
                <hr>
                <p>Deja a tu fiel amigo como recién salido de un spa, limpio y oliendo genial!</p>
                <hr>
                <a href="#" class="botonServicio">Ver ahora</a>
            </div>
        </div>
    </section>

    <section id="sectionMapa">
        <div class="sectionMapaLeft">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10261.949683495628!2d-74.06448684921264!3d4.704561834032751!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9acd6b281bb7%3A0x73bf697277c057b9!2sCl.%20122a%2C%20Suba%2C%20Bogot%C3%A1!5e1!3m2!1ses!2sco!4v1710112687689!5m2!1ses!2sco"
                allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="sectionMapaRight">
            <h2>¿Donde nos encuentras?<br><br></h2>
            <p>Cra. 122A #12-80</p>
        </div>
    </section>
    <section class="sectionMisionVision">

        <img src="./../../../../assets/media/imgs/LoVetMisionVision.png" alt="">
    </section>
</div>
<app-footer></app-footer>
